

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background:#f0eae2;
  font-family: Barlow Condensed, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.plan-title {
  font-size: max(28px, min(3.5vw, 42px));
  color: #373737;
  margin-bottom: 50px;
  text-align: center;
}

input[type="text"],
select {
  color: #000;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 768px) {
  .plan-title {
    margin-top: 27rem;
  }
}
