.section {
padding-top: 5vw;
padding-bottom: 5vw;
}

.wrap {
  position: relative;
  margin: 0 auto 11rem auto;
  min-height: 750px; /* キャンバス確保（数値は好みで） */
}

/* 水色の背景ブロック（右寄せ） */
.backdrop {
  position: absolute;
  right: 25%;
  top: 6%;
  width: 48%;
  height: 76%;
  background: #7a9497; /* 水色 */
  border-radius: 8px;
  z-index: 1;
}

/* テキストボックス（背景の上に重ねる） */
.textBox {
  position: absolute;
  right: 2%;
  top: 11%;
  width: 44%;
  z-index: 2;
}

.title {
  font-weight: 800;
  letter-spacing: -0.01em;
  line-height: 1.1;
  font-size: max(3.6rem, min(3.2vw, 3.4rem));
  margin: 0 0 0.6rem;
    color: #222;
}

.list {
  margin: 0.5rem 0 0;
  padding-left: 8.1rem;
  color: #222;
  font-size: clamp(0.98rem, 0.35vw + 0.9rem, 1.825rem);
  line-height: 1.8;
  font-weight: bold;
}
.list li {
  list-style: disc;
}

/* 画像カード共通 */
.card {
  position: absolute;
  z-index: 2;
  margin: 0;
    overflow: hidden;
}

.backdrop,
.textBox,
.card {
  opacity: 0;                  /* 最初は透明 */
  transform: translateY(30px); /* 少し下げる */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.in {
  opacity: 1;                  /* 表示 */
  transform: translateY(0);    /* 元の位置に戻す */
}
.backdrop.in {
  transition-delay: 0s;
}
.textBox.in {
  transition-delay: 0.3s;
}
.card:nth-of-type(1).in {
  transition-delay: 0.3s;
}
.card:nth-of-type(2).in {
  transition-delay: 0.6s;
}
.card:nth-of-type(3).in {
  transition-delay: 0.9s;
}

.img {
 display: block;
  width: 100%;
  height: 100%;       /* 親（figure）のサイズにフィット */
  object-fit: cover;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.08);
  outline: 1px solid rgba(0, 0, 0, 0.06);

  transform: scale(1);          /* 初期状態 */
  transition: transform 0.3s;   /* ズームをなめらかに */
}

/* 位置指定（スクショ比で調整） */
.cardTL {
  width: 28%;
  top: 15%;
  left: 25%;
}
.cardTR {
  width: 21%;
  top:21vw;
  right: 17%;
}
.cardBL {
  width: 38%;
    bottom: -15vw;
  left: 12%;
}
@media (max-width:1600px) {
  .cardBL{
    bottom: -7vw;
  }
  .cardTR{
      top: 33vw;
  }
}

/* レスポンシブ：縦積み */
@media (max-width: 768px) {
  .wrap {
    min-height: 0;
    padding: 0 24px;
  }
  .backdrop {
    position: static;
    width: auto;
    height: 100vw;
    margin: 0 auto 16px;
    background: transparent;
  }
  .title{
    font-size: 2rem;
    color: #222222;
  }
  .list{
    padding-left: 1.1rem;
      color: #222222;
  }
  .textBox {
    position: absolute;
    width: auto;
        top: 49rem;
  }
  .card,
  .cardTL,
  .cardTR,
  .cardBL {
    position: absolute;
    width: 100%;
    margin-top: 18px;
  }
  .cardBL{
        bottom: -95vw;
  }
  .cardTR{
    width: 50%;
    top: 57%;
    right: 47%;
  }
    .cardTL{
      top: -1%;
    }
}

